# PostgreSQL
DB_NAME=metro_reads_db
DB_USER=postgres
DB_PASS=12345687

# Django
SECRET_KEY=django-insecure-i1o+@i=#ee&^=rf=8m=cylmta8@&@y%rr$@snzql-89m6s)msa
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*onrender.com
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost,https://*onrender.com

#Email
MAIL_USER = ahmedsayem730@gmail.com
MAIL_PASSWORD =wybeudldjdqkkkxq


# Frontend URL
FRONTEND_BASE_URL=http://localhost/api