backports.tarfile
dj-database-url
django-celery-beat
django-filter
django-redis
django-solo
djangorestframework-simplejwt
drf-yasg
gunicorn
importlib-metadata
jaraco.collections
locust
pip-chill
psycopg2-binary
python-dotenv
qrcode
reportlab
tomli
websocket-client
zope-event
whitenoise
requests